.filter-wrapper {
  height: 100%;
  width: 400px;
  margin-top: 70px;
  background-color: #e9e9e9;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
}

.filter-wrapper-hide {
  height: 100%;
  width: 80px;
  margin-top: 70px;
  /* background-color:  var(--logo-blue); */
  /* border: 2px solid var(--logo-blue); */
  justify-content: flex-start;
  /* flex-grow: 2; */
  display: flex;
  flex-direction: column;
  /* transition: width 0.3s ease-in; */
  transition: width 0.5s ease-in-out;
}

.filter-p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.para {
  font-family: var(--merriweather);
  font-size: 16px;
}

.icon-wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filter-categories {
  width: 95%;
  margin: 2.5%;
  height: 100%;
}

.filter-categories-hide {
  visibility: hidden;
}

.filter-form {
  overflow: auto;
}

.fcategory-wrapper {

}

.fcategory-show-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fcategory-p {
  margin-left: 2em;
  font-weight: 600;
}

.fcategory-icon {
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fcategory-checkboxes {
  display: flex;
  flex-direction: column;
}

.fcategory-checkboxes-hide {
  display: none;
}

label {
  font-family: var(--roboto);
  font-size: 16px;
  margin-left: 0.3em;
}

.single-input, .price-wrapper {
  margin-left: 10%;
}

.price-wrapper {
  display: flex;
  flex-direction: row;
}

.to-price, .from-price {
  margin-right: 10px;
}