.header-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--logo-blue);
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 30px;
}

