.inventory-item-wrapper {
  border-bottom: 1px solid grey;
  margin: 0 5px;
  width: 100vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}

.product-info {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 20px;
}

.product-info-p {
  margin: 1px;
}

#product-name {
  height: 40px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.inventory-item-buttons-wrapper {
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.inventory-button {
  height: 50px;
  width: 80px;
  padding: 3px 5px;
  border: 2px solid var(--logo-blue);
  border-radius: 5px;
  font: var(--roboto);
  font-size: 11px;
  margin-left: 10px;
  background-color: var(--logo-blue);
  color: var(--background-white);
}

.inventory-button:hover {
  box-shadow: 0 1px 5px 0 #6f737b;
}

.image {
  height: 200px;
  width: 200px;
}
