.inventory-item-wrapper {
  /* border: 1px solid red; */
  border-bottom: 1px solid grey;
  margin: 10px 5px;
  width: 100vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  /* background-color: #f0f0f0; */
}

.product-info {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-info-div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 20px;
}

.product-info-p {
  margin: 1px;
}

#product-name {
  height: 40px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.inventory-item-buttons-wrapper {
  /* border: 1px solid blue; */
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.inventory-button {
  padding: 5px 9px;
  border: 2px solid var(--logo-blue);
  border-radius: 5px;
  font: var(--roboto);
  font-size: 13px;
  margin: 2px;
  background-color: var(--logo-blue);
}

.image {
  height: 200px;
  width: 200px;
}
