.logged-in-out-buttons-wrapper {}

.button {
  background-color: var(--positive-green);
  color: var(--background-white);
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  font: var(--roboto);
  font-size: 13px;
  margin-right: 5px;
}

.button:hover {
  box-shadow: 0 1px 5px 0 #6f737b;
}

#logged-in-buttons.wrapper {}

#logged-out-buttons-wrapper {}

#login-button {
}

#logout-button {
  background-color: var(--negative-red);
}

#logout-button:focus {
  
}
