@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.product-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100vh;
}

.product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10vh 0;
  font-family: 'Roboto', 'sans-serif';
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  height: 300px;
  width: 300px;
}

.info-container {
  padding: 0 5vh;
  display: flex;
  flex-direction: column;
}

.title-container {}

.product-title {
  font-size: 25px;
  font-weight: 300;
}

.product-details-container {}

.product-details {
  margin: 1vh;
}

.product-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-button {
  border: 2px solid var(--logo-blue);
  border-radius: 5px;
  font: var(--roboto);
  font-size: 13px;
  margin: 2px;
  background-color: var(--logo-blue);
}
