@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


.purchase {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.purchase-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.purchase-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.purchase-form {}

.purchase-form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.purchase-form-label {
  margin-right: 20px;
  font-family: var(--roboto);
}

.purchase-form-input {
  width: 200px;
  font-family: var(--roboto);  
}

#name-div {}

#name-label {}

#name-input {}

#address-div {}

#address-label {}

#address-input {}

#city-div {}

#city-label {}

#city-input {}

#zip-code-div {}

#zip-code-label {}

#zip-code-input {}

#country-div {}

#country-label {}

#country-input {}

#region-div {}

#region-label {}

#region-input {}

#cardNo-div {}

#cardNo-label {}

#cardNo-input {}

#safety-code-div {}

#safety-code-label {}

#safety-code-input {}

#expiration-div {}

#expiration-label {}

#expiration-input {}

#card-holder-div {}

#card-holder-label {}

#card-holder-input {}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.purchase-button {}
